<div *ngIf="country | async; let country" class="country">
  <button routerLink="/" class="back-button shadow">
    <span class="fa fa-arrow-left button-span"></span>
    Back
  </button>
  <div class="country-container">
    <div class="outsite-img-container">
      <div class="img-container">
        <img [src]="country.flag" alt="flag" />
      </div>
    </div>

    <div class="country-info-container">
      <h3>{{ country.name }}</h3>

      <div class="country-info">
        <div class="country-info-left">
          <p>
            <strong>Native Name: </strong>
            {{ country.nativeName }}
          </p>
          <p>
            <strong>Population: </strong>
            {{ country.population | number: "1.0" }}
          </p>
          <p>
            <strong>Region: </strong>
            {{ country.region }}
          </p>
          <p>
            <strong>Sub Region: </strong>
            {{ country.subregion }}
          </p>
          <p>
            <strong>Capital: </strong>
            {{ country.capital }}
          </p>
        </div>
        <div class="country-info-right">
          <p>
            <strong>Top Level Domain: </strong>
            {{ country.topLevelDomain }}
          </p>
          <p>
            <strong>Currencies: </strong>
            {{ displayCurrencies(country.currencies) }} (
            {{ displayCurrenciesSympol(country.currencies) }} )
          </p>
          <p>
            <strong>Languages: </strong>
            {{ displayLanguages(country.languages) }}
          </p>
        </div>
      </div>

      <div class="border-countries">
        <p><strong>Border Countries: </strong></p>
        <div
          *ngIf="borderCountries | async; let borderCountries"
          class="border-countries-buttons"
        >
          <button
            *ngFor="let borderCountry of borderCountries"
            class="border-button shadow"
            [routerLink]="'/' + borderCountry.name"
          >
            {{ borderCountry.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
